<div class="field field--type-heroicon field--label-above">
  <div class="field__label">{{ label }}</div>
  <div class="field__item">
    {% for item in items %}
      {# Extract the icon name and style from the field item #}
      {% set icon_name = item.content['#icon_name'] %}
      {% set icon_style = item.content['#icon_style'] %}

      {# Render the icon dynamically based on the icon name and style #}
      <span class="heroicon-{{ icon_style }}">{{ icon_name }}</span>
    {% endfor %}
  </div>
</div>
